body {
  font-family: Arial, Helvetica, sans-serif;
}

#header-nav {
  background-color:#999999;
  border-radius: 0;
  border-bottom: solid #000000 2px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size:1.75em;
  font-weight:bold;
  color:#000;
  margin:20px 0 30px 0;
}

h3 {
	color:#000000;
	font-size:1.25em;
	margin:0;
	padding:0 0 15px 0;
	font-weight:bold;
}

.navbar-brand {
  padding-top: 0 15px;
}

.navbar-brand h1 {
  color:#000000;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-collapse {
	padding:0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin: 0;
}
.bg-xs {
	  border-top:2px solid #000;
}

#nav-list a {
  color:#000000;
  text-align: center;
  background-color:#fff;
}
#nav-list a:hover {
  background:#999999;
}
#nav-list a span {
  font-size: 1.8em;
}

.container {
	padding-right: 15px;
 	padding-left: 15px;
  	margin-right: auto;
  	margin-left: auto;
}

.row {
	margin:0 -15px 15px -15px;
}

.grid {
	background-color:#d1d1d1;
	border: 0;
	padding:15px;
	margin-bottom:30px;
}